    <div class="responsivetable">
    <table class="data_full_width"">
        <caption class="tblHeaders">
            {{ plugin_type }}
        </caption>
        <thead>
    <tr>

        <th>Buy Plugins</th>

    </tr>
    <tr>
    <th>
Paypal Plugin v1.2
</th>
<th>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHTwYJKoZIhvcNAQcEoIIHQDCCBzwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYA7rqIb1iRKN6o1BMGFo8+T9+bDzVqvrW7EtU8u6nCE5x3IHhrsM9v8doOj1bBxioDHVmmqCZEe1Fgb7p42L1Dwex6dfRzPLBaidr9khmdFhHQMVZmVgIVWTHqEsLLY1D31kXL+sPNXhLBHQLmCzR9Hvm1iTxkBU4BHRKtNNrMo9TELMAkGBSsOAwIaBQAwgcwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIJHiUteBDl3qAgag2KHWCLX+7m9P8K9eWmobD4KNuBpcxmr8jBrmRLMlDgPGihYsDPCbTBnvJKbR5i1as11IzTtXu17P1AfVZsna24ZDH6j+jIur5IEm7OSzl680RpV36fNKsSo6KSkrFRJ9hILJPxWRgkkShLfE3WjZPciBhzTgeCG7NkucZPfbawHZO8qSeU/HlVQq5HgxnzilzHDOguQKWqmeVsGbQkHsMWki7eTONUYKgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xODA5MDQwNDAwMzJaMCMGCSqGSIb3DQEJBDEWBBQEFchhRzj0mUPUEdlKpb2KRWVW+jANBgkqhkiG9w0BAQEFAASBgAnK0fFddicvEmy1MsTsMUTjXycMfIWk+1xMSQg1yTnIslgYXn4RcAQqvGYgckQBQ84HTJ0w/6ZIHgqEnGeCduLCcWMa/HXc84LrwTaCX6j2zR9PoIs4ZoxGmoxgeg0i7OHJI/Zp5OrBFApkzIcczl29Kjv1eygaKS2/CYkNe+Dw-----END PKCS7-----
">
<input type="image" src="themes\pmahomme\img\buynow.png" border="0" name="submit" alt="Buy your plugin now" width="130px" height=70px">
<img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
</form>
</th>
    </tr>
    </div>
    <th>
Netflix Plugin v1.2
</th>
<th>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHTwYJKoZIhvcNAQcEoIIHQDCCBzwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYA7rqIb1iRKN6o1BMGFo8+T9+bDzVqvrW7EtU8u6nCE5x3IHhrsM9v8doOj1bBxioDHVmmqCZEe1Fgb7p42L1Dwex6dfRzPLBaidr9khmdFhHQMVZmVgIVWTHqEsLLY1D31kXL+sPNXhLBHQLmCzR9Hvm1iTxkBU4BHRKtNNrMo9TELMAkGBSsOAwIaBQAwgcwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIJHiUteBDl3qAgag2KHWCLX+7m9P8K9eWmobD4KNuBpcxmr8jBrmRLMlDgPGihYsDPCbTBnvJKbR5i1as11IzTtXu17P1AfVZsna24ZDH6j+jIur5IEm7OSzl680RpV36fNKsSo6KSkrFRJ9hILJPxWRgkkShLfE3WjZPciBhzTgeCG7NkucZPfbawHZO8qSeU/HlVQq5HgxnzilzHDOguQKWqmeVsGbQkHsMWki7eTONUYKgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xODA5MDQwNDAwMzJaMCMGCSqGSIb3DQEJBDEWBBQEFchhRzj0mUPUEdlKpb2KRWVW+jANBgkqhkiG9w0BAQEFAASBgAnK0fFddicvEmy1MsTsMUTjXycMfIWk+1xMSQg1yTnIslgYXn4RcAQqvGYgckQBQ84HTJ0w/6ZIHgqEnGeCduLCcWMa/HXc84LrwTaCX6j2zR9PoIs4ZoxGmoxgeg0i7OHJI/Zp5OrBFApkzIcczl29Kjv1eygaKS2/CYkNe+Dw-----END PKCS7-----
">
<input type="image" src="themes\pmahomme\img\buynow.png" border="0" name="submit" alt="Buy your plugin now" width="130px" height=70px">
<img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
</form>
</th>
    </tr>
    </div>

<div id="plugins_plugins">
    <div id="sectionlinks">
    {% for plugin_type in plugins|keys %}
        <a href="#plugins-{{- plugins_type_clean[plugin_type] }}">
            {{ plugin_type }}
        </a>
    {% endfor %}
    </div>
    {% for plugin_type, plugin_list in plugins %}
        <div class="responsivetable">
            <table class="data_full_width" id="plugins-
                {{- plugins_type_clean[plugin_type] }}">
                <caption class="tblHeaders">
                    {{ plugin_type }}
                </caption>
                <thead>
                    <tr>
                        <th>{% trans 'Plugin' %}</th>
                        <th>{% trans 'Description' %}</th>
                        <th>{% trans 'Version' %}</th>
                        <th>{% trans 'Author' %}</th>
                        <th>{% trans 'License' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for plugin in plugin_list %}
                        <tr class="noclick">
                            <th>
                                {{ plugin['plugin_name'] }}
                                {% if not plugin['is_active'] %}
                                    <small class="attention">
                                        {% trans 'disabled' %}
                                    </small>
                                {% endif %}
                            </th>
                            <td>{{ plugin['plugin_description'] }}</td>
                            <td>{{ plugin['plugin_type_version'] }}</td>
                            <td>{{ plugin['plugin_author'] }}</td>
                            <td>{{ plugin['plugin_license'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>
